* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

body {
  background-color: #f9f9f9;
  font-family: "Work Sans", sans-serif;
}

img {
  width: 100px;
}

h1 {
  font-family: "Fjalla One", sans-serif;
}

form {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 10px;
}

fieldset {
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  margin-bottom: 15px;
}

legend {
  font-weight: bold;
  font-size: 18px;
  padding: 0 5px;
}

label {
  display: inline-block;
  margin-bottom: 5px;
}

p {
  margin-bottom: 15px;
  font-weight: bold;
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #cccccc;
  border-radius: 10px;
}

textarea {
  min-height: 100px;
}

input[type="radio"],
input[type="checkbox"] {
  width: auto;
}

input[type="color"] {
  width: 40px;
  padding: 0 5px;
}

input[type="text"]:invalid,
input[type="number"]:invalid,
input[type="email"]:invalid,
input[type="tel"]:invalid,
#state:invalid {
  border-color: #a50b0b;
}

button {
  width: 100px;
  height: 30px;
  margin-right: 10px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 10px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #008a00;
  color: #ffffff;
}

button[type="reset"]:hover {
  background-color: #a50b0b;
  color: #ffffff;
}
